@font-face {
  font-family: HelveticaNeue;
  font-weight: normal;
  src: url(../fonts/HelveticaNeueLTPro-Roman.otf)
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url(../fonts/HelveticaNeueLTPro-Bd.otf)
}

@font-face {
  font-family: HelveticaNeue;
  font-style: italic;
  src: url(../fonts/HelveticaNeueLTPro-It.otf)
}


@font-face {
  font-family: Creattion;
  src: url(../fonts/Creattion.otf)
}
