@font-face {
    font-family: Eina03;
    src: url(../fonts/Eina03-Regular.ttf);
  }

  @font-face {
    font-family: Eina03;
    font-style: italic;
    src: url(../fonts/Eina03-RegularItalic.ttf);
  }

  @font-face {
    font-family: Eina03;
    font-weight: 700;
    src: url(../fonts/Eina03-Bold.ttf);
  }

  @font-face {
    font-family: Eina03;
    font-weight: 600;
    src: url(../fonts/Eina03-SemiBold.ttf);
  }

  @font-face {
    font-family: Eina03-Bold;
    src: url(../fonts/Eina03-Bold.ttf);
  }

  @font-face {
    font-family: Eina03-SemiBold;
    src: url(../fonts/Eina03-SemiBold.ttf);
  }

  @font-face {
    font-family: Arial-Downloaded;
    src: url(../fonts/arial.ttf);
  }