.skinfobackground {
    background-image: url(../shop/background_opacity.png);
    background-size: cover;
    min-height: 20vh;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    width: 3px;
    height: 4px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    width: 4px;
    margin-top: 6px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.sources-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.product-card-single {
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: 0.3s;
    padding: 20px;
    min-height: 370px;
    /* min-width: 165px; */
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.product-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-height: 380px;
    /* min-width: 165px; */
    width: 100%;
    width: -moz-available;
    /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;
    /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-img {
    max-height: inherit;
    max-width: inherit;
}

.product-brand {
    font-weight: bold;
    color: black;
}

.product-price {
    color: black;
    font-weight: bold;
}

.product-img-div-single {
    max-height: 300px;
    display: flex;
    margin: auto;
}

.product-text {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 80px;
}

.product-buy {
    background-color: black;
    color: white;
    border-radius: unset;
}

.product-sciene-info {
    display: flex;
    margin-top: 25px;
}

.product-summary {
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.product-inci {
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.gray-title {
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: rgb(248, 248, 248);
    display: flex;
    padding: 18px;
    justify-content: space-between;
}

.shop-button {
    background-color: black;
    color: white !important;
    padding-left: -24px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    margin: auto;
    margin-right: inherit;
}

.search-tag {
    background-color: rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding: 5px;
    border-radius: 0.25rem;
    margin-left: 5px;
    float: left;
    margin-bottom: 5px;
}

.search-tag-delete {
    padding-top: 2px;
    margin-left: 3px;
    padding-left: 1px;
    padding-right: 1px;
    cursor: pointer;
}

.search-tag-delete:hover {
    background-color: black;
    fill: white;
    border-radius: 0.25rem;
}

.searchbar-title {
    color:lightgray;
    font-style: oblique;
    font-weight: normal !important;
    text-decoration: underline;
}

.synonym-tag {
    background-color: #D4D3D3;
    border-radius: 10px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.summarySciene {
    color:black;
    font-size: 14px;
}

.summarydiv {
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 20px;
}

.product-img-div {
    max-width: 140px;
    max-height: 140px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.product-brand {
    font-weight: bold;
    color: black;
    font-size: 14px;
}

.product-name {
    color: black;
    display: -webkit-box;
    line-clamp: 2;
    -moz-line-clamp : 2;
    -webkit-line-clamp : 2;
    overflow: hidden;
    text-overflow: ellipsis;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    min-height: 38px;
}

.search-tags-maindiv {
    display: flex;
}

.search-tag {
    background-color: rgba(0, 0, 0, 0.1);
    height: fit-content;
    padding: 5px;
    border-radius: 0.25rem;
    margin-left: 5px;
    float: left;
    margin-bottom: 5px;
    margin-top: 2px;
}

.search-tag-delete {
    padding-top: 2px;
    margin-left: 3px;
    padding-left: 1px;
    padding-right: 1px;
    cursor: pointer;
}

.search-tag-delete:hover {
    background-color: black;
    fill: white;
    border-radius: 0.25rem;
}

.searchbar-item {
    padding-right: 10px;
}

.searchbox {
    text-transform: lowercase !important;
    font-size: 14px;
}

.skinfodata {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    padding: 5px 10px;
}

.skinfoDataElement {
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;
}

.skinfodata-logo {
    width: 50px;;
}

.skinfunctions-main-div {
    display: flex;
}

.skinfoDataNumber {
    color: black;
    font-size: 12px;
    margin: auto;
    text-align: center;
    margin-left: 5px;
    margin-top: 2px;
}

.si-slider-main {
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
    background-color: white;
}

.si-slider-notchecked {
    fill: lightgray !important;
    transition: 500ms;
    transform: translateX(-35px);
}

.si-slider {
    margin-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    cursor: pointer;
}

.si-slider-checked {
    fill: #FFA100;
    transition: 500ms;
}

@media only screen and (max-width: 865px) {
    .products-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .product-img-div {
        max-width: 100px;
        max-height: 100px;
     }
}

@media only screen and (max-width: 746px) {
    .searchbar-suggestions {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

@media only screen and (max-width: 750px) {
    .products-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .product-img-div {
        max-width: 100px;
        max-height: 100px;
    }

    .skinfunctions-main-div {
        margin: auto;
        margin-top: 5px;
    }

    .skinfodata-logo {
        margin: auto;
    }

    .skinfodata {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .product-card {
        padding:10px;
    }

    .summarydiv {
        padding:10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .gray-title {
        padding:10px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 18px;
    }
}

@media only screen and (max-width: 500px) {
    .summarySciene {
        color:black;
        font-size: 9px;
        margin-top: 4px;
    }
}

@media only screen and (max-width: 460px) {
    .product-card-single {
        padding: 10px !important;
    }
}