.body {
    background-image: url('../background.jpg');   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;;
    margin:0;
    padding: 0;
} 

a:link, a:visited, a:active {
    font-family: 'Eina03-SemiBold';
    font-size: 16px;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: 'Eina03-Regular';
    font-size: 100px;
}

.p{
    max-width: 40%;
    font-family: 'Eina03-Regular';
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

.header {
    margin-top: 15%;
    font-family: 'Eina03-SemiBold';
    font-size: 100;
}

.textinputdiv {
    margin-top: 30%;
    width: 400px;
    position: relative;
    bottom: 0;
}

.center {
    text-align: center;
    margin: 0 auto;
}

textarea:focus, input:focus{
    outline: none;
}

input[type=email]:hover{
    cursor: text;
}

input[type=submit]:hover{
    cursor: pointer;
}

input[type=submit], input[type=email] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bottom {
    position: absolute;
    bottom: 50px;
}

.emailInput{
    border-radius: 25px;
    border-color: transparent !important; 
    border-width: 0;
    margin: auto;
    width: 85%;
    padding: 15px 15% 15px 25px;
    box-shadow: 0 0 0 1px rgba(236,240,243,1);
    font-family: 'NunitoSans-Regular';
    margin: 0;
    font-size: 14px;
}

.sendButton {
    position: relative;
    left: 178px;
    top: -47px;
    bottom: 0;
    box-shadow: none!important;
    width: auto;
    height: 44px;
    padding: 0 25px;
    border-radius: 50px;
    color: rgba(255,255,255,1)!important;
    background-color: gray;
    border: 0 solid #212121;
    text-transform: none;
}

.middlepadding {
    margin-bottom: 1%;
}

.extra-note {
    font-size: 10px; 
    max-width: unset; 
    text-align: start;
}

/* Mobile */
/* iPhone 6/7/8/X/XS */
@media only screen and (max-width : 420px) {  
    .body {
        background-image: url('../background.jpg');   
        background-position: top;
        background-repeat: no-repeat;
        background-size: 150%;
    }

    .header {
        margin-top: 15%;
        font-family: 'Eina03-SemiBold';
        font-size: 65px;
    }

    .p {
        max-width: 70%;
        font-size: 17px;
    }  

    .emailInput{
        margin-right: 15px;
        width: 55%;
        padding: 15px 25% 15px 25px;
    }

    .sendButton {
        left: 119px;
    }

    .middlepadding {
        margin-bottom: 12%;
    }

    .extra-note {
        font-size: 10px; 
        max-width: unset; 
        text-align: start;
        margin-top: 10px;
    }
}  

/* Fonts */
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf'); 
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf'); 
    font-weight: 600;
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('../fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Eina03-Regular';
    src: url('../fonts/Eina03-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'Eina03-SemiBold';
    src: url('../fonts/Eina03-SemiBold.otf') format("opentype");
}