html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "HelveticaNeue";
}

hr {
    max-width: 80%;
    border-width: 1px;
    overflow: visible;
    color: rgb(128,128,128, 1);
    margin-top: 0px;
    margin-bottom: 75px;
    border-top: none;
    border-right: none;
    border-left: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color:black;
    text-decoration: none;
}

    input[type="checkbox"] {
    display: none;
  }
  
  input[type="checkbox"] + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    background-color: #fff;
    border:solid 1px lightgrey;
    padding: 0.5rem 1rem;
    display: inline-block;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "ChakraPetch";
  }

  
  input[type="checkbox"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: rgb(60, 0, 200); color: white; border-color: rgb(60, 0, 200);
  }

input[type="text"] {
    font-size: 16px;
}

input {
    outline: 0;
    -webkit-appearance: none;
    background: transparent;
    border-width: 0 0 1px;
    border-color: black;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}  

td {
    padding:2px 55px;
    text-align: start;
    font-size: 20px;
}

.arrow-si {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right-si {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left-si {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  

div#skinfofade {
    opacity:0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;     
    transition: opacity 2s; 
    }
    
    div#skinfofade.fade {
    opacity:1;
    }

.card-holder {
    margin-top:50px; 
    display: table;
    margin-left: auto; 
    margin-right: auto;
}

.title {
    padding-bottom: 5px;
    padding-left: 20%;
    text-align: center;
    min-height: 44px;
    font-family: 'QuickSand';
    font-weight: bold;
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.sting-co-financed {
    width: 160px; 
    font-size: 16px; 
    text-align: left; 
    margin-left: 15px;
}

.meny-icon {
    display: none;
}

.extra-padding {
    padding-top: 65px !important;
    padding-bottom: 65px !important;
}

.background-image {
    background: url(../images/skinfo-background.png);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: bottom;
    height: 100%;
    width: 100%;
}

.about-the-data {
    background: url(../images/skum.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom;
    height: 100%;
    width: 100%;

    margin: auto; 
    display: flex; 
    padding-top: 50px; 
    padding-bottom: 50px;
}

.checkbox-div {
    display: table-row;
}

.widget-bullet {
    font-family: "HelveticaNeue";
    font-size: 18px;
    margin: 20px;
    width: 275px;
}

.widget-bullet > div {
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    font-family: "HelveticaNeue";
}

.skinfo-title { 
    padding-right: 10px;
    float: left;
}

.chapter-header {
    margin-top: 20px;
    font-family: 'QuickSand';
    font-size: 20px;
    font-weight: bold;
}

.first-info-button-space {
    margin-top: 120px;
    padding-left: 20%;
}

.business-info-button-space {
    margin-top: 60px;
}

.business-main-button-div {
    padding-left: 20%;
}

.business-main-screenshots-div {
    margin: auto; 
    display: flex; 
    background-color: rgb(235, 235, 235, 0.5); 
    padding-top: 50px; 
    padding-bottom: 50px;
}

.business-screenshot-div {
    width: 30%;
    margin: auto;
}

.business-screenshot-header-text {
    text-align: center; 
    font-family: "ChakraPetch"; 
    font-size: 20px;
    font-weight: bold;
}

.business-screenshot-text {
    text-align: center; 
    font-size: 14px; 
    margin-top: 5px; 
    color:gray
}

.business-screenshot-image {
    width: 300px; 
    display: block;
    margin: auto;
    margin-top: 10px; 
    border-radius: 10px;
}

.business-stats-header {
    margin: auto; 
    display: table; 
    font-size: 30px; 
    font-family: "QuickSand";
}

.business-stats-div {
    margin: auto; 
    display: flex; 
    margin-top: 30px; 
    width: max-content;
}

.business-stats-element {
    margin:auto; 
    margin-right: 20px; 
    margin-left: 20px;
}

.business-keypoints-items {
    margin: auto; 
    margin-top: 25px; 
    display: flex;
    width: max-content;
}

.business-see-us-live-header {
    font-family: "QuickSand"; 
    font-weight: 600; 
    font-size: 25px; 
    margin-top: 0; 
    min-height: unset;
    text-align: center;
    color: rgb(60, 0, 200);
}

.business-see-us-live-text {
    margin-top: 10px; 
    text-align: center;
}

.business-customer-cases {
    margin: auto; 
    display: flex; 
    margin-top: 40px;
}

.business-customer-case-link {
    display: grid; 
    text-align: center; 
    height: 200px; 
    margin-right: 10px; 
    margin-left: 10px; 
    border: 1px solid rgb(235, 235, 235, 0.8); 
    border-radius: 10px; 
    padding-left: 10px; 
    padding-right: 10px;
}

.business-carousel-div {
    display: flex; 
    margin-top: 40px; 
    margin-bottom: 40px; 
    max-height: 200px;
}

.business-carousel-text {
    color: black; 
    width: 50%; 
    font-family: "QuickSand"; 
    margin: auto; 
    font-size: 16px
}

.business-carousel-person {
    margin: auto;
}

.business-carousel-person-text {
    color: black; 
    margin-top: 10px; 
    text-align: center;
}

.business-contact-us-text {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.business-contact-us-main-div {
    display: flex; 
    width: max-content;
}

.business-carousel-image {
    border-radius: 100px;
    width: 150px;
}

.business-contact-form-div {
    margin: auto; 
    display: flex; 
    padding-top: 50px;
    padding-bottom: 50px; 
}

.business-form-checkbox-label {
    margin-right: 5px;
}

.business-contact-form-send-button-div {
    display: table; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 50px; 
    margin-bottom: 10px;
}

.business-contact-form-send-button {
    padding-left: 40px !important; 
    padding-right: 40px !important;
}

.business-contact-or {
    font-family: "ChakraPetch"; 
    font-weight: bold; 
    font-size: 20px;
}

.contact-main-div {
    padding-left: 3% !important;
    padding-right: 3% !important;
}

.carousel-control {
    margin: -12px;
    top: 50% !important;
}

.number-of-spots {
    font-size: 18px;
}

.information-data-header {
    font-family: "ChakraPetch";
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.information-data {
    font-family: "ChakraPetch";
    font-weight: 700;
    font-size: 40px;
    margin: auto;
    text-align: center;
}

.button-div {
    display: grid;
    text-align: center;
    float: left;
}

.button-div-app {
    display: grid;
    text-align: center;
    float: left;
}

.text-sub-header {
    margin-top: 25px;
    font-family: "HelveticaNeue";
    color: rgba(0,0,0,0.5);
    font-size: 25px;    
    text-align: center;
}

.button-div-row {
    display: table;
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.button {
    font-family: "QuickSand";
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color:rgb(60, 0, 200);
    padding: 15px 15px 10px 15px;   
    border-radius: 36px;
    box-sizing: unset;
    -webkit-box-sizing: unset;
}

.button2x {
    font-family: 'QuickSand';
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color:rgb(60, 0, 200);
    padding: 15px 5px 15px 5px;   
    border-radius: 36px;
    margin-top: 20px;
    width: 175px;
}

.button:hover {
    cursor: pointer;
}

.button2x:hover {
    cursor: pointer;
}

.send-button {
    border-radius: 15px;
    font-size: 20px;
    padding: 1rem 4rem;
    color: white;
    background-color:rgb(60, 0, 200);
    border: 1px solid white;
}

.temp-countdown {
    margin-top:20px;
}

.comment-div {
    text-align: center;
}

.arial {
    font-family: 'Arial-Downloaded';
}

.business-stats-image {
    height: 35px;
    margin: auto;
}

.business-stats {
    max-width: 32%;
    margin: auto;
    margin-top: 25px;
}

.buisiness-main-stats {
    display: flex;
    margin: auto;
    text-align: center;
}

.checkbox-header {
    margin-top: 50px;
    font-family: "ChakraPetch";
    font-size: 30px;
    font-weight: 600;
    color: rgba(60, 0, 200,1);
}

a:hover {
    text-decoration: none !important;
}

.business-contact {
    margin-right: 10px;
    margin-left: 20px;
    background-color: rgb(60, 0, 200);
    border-radius: 10px;
    color:white;
    padding: 30px;
    font-family: "ChakraPetch";
    font-size: 16px;
}

.business-stats-header {
    margin-top: 5px;
    color: white;
    font-size: 20px;
    font-family: "QuickSand";
}

.business-stats-number {
    margin-top: 10px;
    color: white;
    font-size: 30px;
    font-family: "ChakraPetch";
}

.business-stats-text {
    margin: auto;
    margin-top: 10px;
    color: white;
    max-width: 330px;
}

.business-reference {
    text-align: center;
    margin: auto;
    font-style: italic;
    margin-top: 40px;
    color: white;
}

.text-header {
    margin-top: 30px;
    text-align: center;
    color: rgb(60, 0, 200);
    font-family: "QuickSand";
    font-weight: 600;
    font-size: 35px;
}

.text-header-undertext {
    margin-top: 10px; 
    text-align: center; 
    padding-left: 20%; 
    padding-right: 20%;
}

.primary-div {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    overflow: auto;
}

.secondary-div {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(60, 0, 200);
    height: 100%;
    overflow: auto;
}

.primary-div-app {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    overflow: auto;
    background-color: rgb(60, 0, 200); 
    padding-left: 30%; 
    padding-right: 30%;
}

.secondary-div-app {
    padding-top: 5%;
    padding-bottom: 5%;    
    padding-left: 30%;
    padding-right: 30%;
    height: 100%;
    overflow: auto;
    margin: auto; 
    display: table; 
    background-color: white;
}

.gray-div {
    padding-top: 25px;
    padding-left: 30%;
    padding-right: 30%;
    background-color: whitesmoke;
    height: 100%;
    text-align: center;
    padding-bottom: 25px;
}

.sting-info {
    margin-top: 25px;
}

.news-row {
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
}

.skinfo-menu {
    padding-top: 13px;
}

.skinfo-menu-mobile {
    display: none;
    cursor: pointer; 
    margin-top: 7px;  
    width: 40%;
}

.skinfo-menu-mobile-expanded {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: rgb(60, 0, 200);;
    margin: 6px 0;
    transition: 0.4s;
  }

  .main-menu-change {
      height: 200px;
  }

  /* Rotate first bar */
.change .bar1 {
    width: 25px;
    -webkit-transform: rotate(-45deg) translate(-7px, 6px) ;
    transform: rotate(-45deg) translate(-7px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    width: 25px;
    -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
    transform: rotate(45deg) translate(-6px, -6px) ;
  }

.news-item {
    display: table-caption;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.news-date {
    color:lightgrey;
}

.news-pre-data {
    display: grid;
    text-align: center;
}

.news-inner-item {
    display: grid;
}

.thumbnail {
    width:340px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    margin: auto    
}

.information-div {
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 15px;
    padding-bottom: 25px;
}

.information-header{
    font-family: 'QuickSand';
    font-size: 35px;
    font-weight: bold;
}

.information-header-main{
    margin-top: 100px;
    min-height: 104px;
    font-size: 80px;
    margin-top: 100px;
    padding-left: 20%;
    font-family: "ChakraPetch";
    font-weight: 600;
    text-align: left;
    color: rgb(60, 0, 200);
}

.information-header-main-white{
    font-size: 60px;
    font-family: "ChakraPetch";
    font-weight: 600;
    color: white;
    display: inline-block; 
    position: relative;
    left: 40%;   
}

.information-small-text {
    font-family: "FiraSans";
}

.chapter{
    margin-top: 25px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.information-links {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.roadmap {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.map {
    margin-top: 50px;
    height: 400px;  
    max-width: 1000px;
    margin: auto;
}

.card {
    background: #fff;
    height: 180px;
    float: left;
    margin: 1rem;
    position: relative;
    width: 180px;
    border-radius: 20px;
}

.card-image {
    margin-left: 65px; 
    margin-right: 65px;
    margin-top: 20px;
}

.card-text {
    text-align: center;
}

.company-form {
    width: 200px;
    display: table;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(235, 235, 235, 0.5);
    margin-right: 10px;
}

.b2b-contact-us-button {
    background-color: rgb(60, 0, 200);
    border-radius: 10px;
    color:white;
    display: flex;
    margin: auto;
    padding: 50px;
}

.form-label {
    text-align: left;
    float:left;
    margin-top: 10px;
    font-size: 16px;
    width: 100%;
    font-family: "ChakraPetch";
}

.form-input {
    float:left;
    width: 400px;
    margin-top: 10px;
}

.points-text {
    margin-top: 5px;
    font-size: 18px;
}

.form-label-special {
    margin-bottom: 20px;
}

.checkbox-info {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
}
    .checkbox-info > img {
        width: 20px;
        height: 20px;
    }

.year {
    font-size: 40px;
    font-weight: bold;
    font-family: "ChakraPetch";
}

.press-download-link {
    font-family: "ChakraPetch";
    color:gray !important;
}

.press-image {
    height: 200px;
}

.press-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.press-main-div {
    text-align: center;
    display: flex;
    margin: auto;
}

.press-inner-div {
    margin: auto;
}

.dot {
    text-align: center;
    height: 8px;
    width: 8px;
    background-color: black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.roadmap-text-header {
    font-size: 20px;
    font-weight: bold;
}

.roadmap-text{
    font-size: 15px;
}

.column-left {
    float: left;
    max-width: 70%;
} 

.column-right {
    float: right;
    max-width: 50%;
}

.information-text {
    font-family: "QuickSand";
    font-size: 50px;
    margin: auto;
    color: rgba(60,0,200,0.3);
    text-align: left;
    padding-left: 20%;
}

.information-text-app {
    font-family: "QuickSand";
    font-size: 50px;
    margin: auto;
    color: rgba(60,0,200,0.3);
    text-align: left;
}

.logotypes {
    text-align: center;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.business-image {
    display: block;
    float: left;
    width:30%;
    margin: 20px;
}

.business-image > img {
    width: 700px;
}

.left-image {
    display: block;
    float: left;
    padding-left: 10%;
    width: 30%;
    margin: 20px;
}

.right-text {
    padding-left: 10%;
    padding-right: 10%;
    width: 35%;
    float: left;
}

.logo-trust {
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
    vertical-align: middle; 
}

.information-text-white {
    font-family: "QuickSand";
    font-size: 30px;
    color:white;
    text-align: center;
    padding-left: 10px;
}

.logotype-text {
    font-family: "QuickSand";
    font-size: 30px;
    color: rgba(0,0,0,0.3);
    text-align: center;
    padding-left: 10px;
    margin-top: 20px;
}

.sub-title {
    font-family: "HelveticaNeue";
    font-size: 25px;
    margin:auto;
    padding-left: 20%;
    color: rgba(0,0,0,0.5);
    text-align: left;
}

.app-download-div {
    text-align: left;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 5%    ;
}

.two-split-div {
    display: flex;
    margin: auto;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
}

.app-download {
    width: 120px;
}

.app-header-icon {
    margin-top: 80px;
}

.app-header-icon-image {
    width: 45px;
}

.stars {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width:200px;
}

.comments {
    margin-top: 25px;
    min-height: 100px;
    font-size: 35px;
}

.social-media{
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
}

.social-media-icon {
    width: 50px;
    display: block;
}

.image-left {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    height: 420px;
}

.links {
    font-size: 18px;
    font-weight: bold;
    color:rgba(60,0,200) !important;
    max-width: 340px;
}

.all-rights-reserved {
    float: right;
    margin-bottom: 5px;
}

.smartphone-border{
    border: 1px black solid; width: 230px;     
    border-radius: 36px;
    -webkit-box-shadow: 1px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 5px 15px rgba(0,0,0,0.4);
    box-shadow: 1px 5px 15px rgba(0,0,0,0.4);
}
  
.smartphone-white {
    position: relative;
    width: 210px;
    height: 384px;
    border: 10px white solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

    .smartphone-white .content {
        background: white;
        width:100%;
        height:113%;
        border:none;
        border-bottom-left-radius: 36px;
        border-bottom-right-radius: 36px;
        overflow: hidden;
        
        position: relative;
        }
    
    .smartphone-white .content .screenshot {
    background: white;
    width:100%;
    border:none;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    display: block;
    height: auto;
    position: absolute;
    bottom: 0;
    }

    .smartphone-white:before {
        content: '';
        display: block;
        width: 60px;
        height: 5px;
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #333;
        border-radius: 10px;
    }

@media only screen and (max-width : 2600px) {  
    .information-header-main-white {
        left: 37%;
    }
}

@media only screen and (max-width : 2100px) {  
    .information-header-main-white {
        left: 35%;
    }
}

@media only screen and (max-width : 1935px) {  
    .column-left {
        max-width: 50%;
    } 
    
    .column-right {
        max-width: 50%;
    }
}


@media only screen and (max-width : 1900px) {  
    .information-header {
        font-size: 2.0rem; 
        margin-top: 25px;
    }

    .information-header-main-white {
        left: 31%;
    }
}

@media only screen and (max-width : 1630px) {    
    .gray-div {
        padding-left: 15%;
        padding-right: 15%;
    }

    .information-div {
        padding-left: 20%;
        padding-right: 20%;
    }

    .column-left {
        max-width: 50%;
    } 
    
    .column-right {
        max-width: 50%;
    }

    .app-download-div {
        margin-left: auto;
        margin-right: auto;
    }

    .text-header {
        margin-top: 20px;
    }

    .logo-trust {
        width: 125px;        
    }
}

@media only screen and (max-width : 1400px) {  
    .information-header-main-white {
        left: 26%;
    }

    .primary-div-app {
        padding-left: 15%; 
        padding-right: 15%;
    }
    
    .secondary-div-app {   
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media only screen and (max-width : 1300px) {  
    .title {
        padding-left: 12%;
    }

    .business-main-button-div {
        padding-left: 10%;;
    }

    .right-text {
        width: 40%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .image-left {
        height: 350px;
    }

    .app-download-div {
        padding-left: 0;
    }

    .column-left {
        max-width: 100%;
        float: unset;
    } 
    
    .column-right {
        margin-top: 25px;
        margin-left: unset;
        float: left;
        max-width: 100%;
        width: 100%;
    }

    .number-of-spots {
        font-size: 16px;
    }

    .app-download-div {
        text-align: center;
    }
    
    .secondary-div {
        padding-left: 5%;
        padding-right: 5%;
    }

    .gray-div {
        padding-left: 5%;
        padding-right: 5%;
    }

    .information-div {
        padding-left: 5%;
        padding-right: 5%;
    }

    .button {
        font-size: 16px;
        padding: 5px 10px 5px 5px;
    }

    .button-div-app {
        float: unset;
    }

    .button2x {
        margin-left: auto;
        margin-right: auto;      
    }

    .textinputdiv {
        width: 400px;
        position: relative;
        bottom: 0;
    }

    .smartphone-border {
        margin-left: auto;
        margin-right: auto;
    }

    .extra-note {
        font-size: 10px;
    }

    .information-header-main {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding-left: 10%;
    }

    .information-text {
        margin-bottom: 20px;
        padding-left: 10%;
    }

    .information-text-app {
        margin-bottom: 20px;
        text-align: center;
    }

    .sub-title {
        padding-left: 10%;
    }

    .temp-countdown {
        margin-top: 20px;

    }

    .app-header-icon {
        margin: unset;
        text-align: center;
    }

    .phone {
        margin-left: auto;
        margin-right: auto;
        display: table-footer-group;
        float:  unset;
    }

    .info {
        display: table-header-group; 
        float:  unset;
    }

    .comments {
        font-size: 20px;
        font-weight: bold;
    }


    .information-header-main-white {
        left: 31%;
    }
    
}

@media only screen and (max-width : 1200px) {   
    .business-image {
        display: block;
        float: unset;
        padding-left: unset;
        width:unset;
        margin: auto;
        text-align: center;
    }

    .business-image > img {
        width: 700px;
    }

    .right-text {
        width: 35%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .left-image {
        display: inherit;
        float: unset;
        padding-left: unset;
        margin: auto;
    }

    .information-header-main-white {
        margin-top: 0;
    }

    .button2x {
        width: 120px;
        margin-top: 25px;
    }


    .information-header-main-white {
        left: 26%;
    }

    .business-carousel-div {
        width: 75%;
        margin: auto;
    }

    .business-carousel-person-text {
        margin-top: 2px !important;
    }

    .slide {
        min-height: 198px !important;
    }

    .business-carousel-image {
        width: 120px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .business-carousel-text {
        font-size: 15px;
        width: 70%;
    }
}

@media only screen and (max-width : 1100px) {
    .business-carousel-image {
        display:block;
        margin:auto;
    }

    .carousel-inner {
        min-height: 230px !important;
    }

    .business-carousel-div {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width : 1000px) {   
    .business-main-screenshots-div {
        display: grid;
        padding-top: 30px;
    }

    .index-split {
        display: grid;
    }

    .left-image {
        width: unset;
    }

    .right-text {
        padding-left: 10%;
        padding-right: 10%;
        float: unset;
        width: unset;
    }

    .business-screenshot-div {
        width: 100%;
        margin-left: unset !important;
        margin-right: unset !important;
    }

    .business-screenshot-header-text {
        margin-top: 20px;
    }

    .business-keypoints-items {
        margin: auto; 
        margin-top: 25px; 
        display: block;
        width: max-content;
    }
    
}

@media only screen and (max-width : 900px) {  
    .buisiness-main-stats {
        display: block;
    }

    .business-stats {
        max-width: unset;
    }
    
    .map {
        height: 300px;
    }

    .card-holder {
        width: 33%;
        margin: 0 auto;
    }

    .sub-title {
        padding-right: 10%;
     }

     .information-text-white {
         font-size: 20px;
     }
}

@media only screen and (max-width : 850px) {   
    .news-row {
        display: inline-table;
    }

    .news-item {
        padding-bottom: 30px;
        border-bottom: solid 1px lightgray;
    }

    .business-carousel-div {
        display: contents;
    }
    
    .business-carousel-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slide {
        padding-bottom: 20px;
        min-height: 255px !important;
    }

    .carousel-inner {
        min-height: 355px !important;
    }
}

@media only screen and (max-width : 800px) {   
    .information-header-main{
        font-size: 60px;
        min-height: 78px;
    }

    .company-form {
        margin-right: unset;
    }

    .first-info-button-space {
        padding-left: unset;
    }

    .business-main-button-div {
        display: flex;
        padding-left: 10%;
    }

    .button-div {
        padding-left: unset;
    }

    .button-div-app {
        padding-left: unset;
    }

    .information-text {
        font-size: 40px;
    }

    .sub-title {
       font-size: 20px;
    }
      
    .text-sub-header {
        font-size: 20px;
    }


    .logo-trust {
        margin-top: 20px;
    }


    .information-header-main-white {
        left: 30%;
        font-size: 40px;
    }

    .secondary-div {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .button-div {
        float: unset;
    }

    .button-div-app {
        float: unset;
    }

    .business-contact-us-main-div {
        display: block;
        text-align: center;
    }

    .business-contact-form-div {
        padding-bottom: 20px;
    }

    .business-contact-or {
        padding-bottom: 20px;
    }   
    
    .business-contact {
        max-width: 178px;
        margin:auto;
    }
}

@media only screen and (max-width : 670px) {     
    .business-image > img {
        width: 350px;
    }
    .information-header-main {
        padding-left: 5%;
        font-size: 41px;
        min-height: 51px;
    }
    
    .information-text {
        padding-left: 5%;
        font-size: 30px;;
    }

    .sub-title {
        padding-left: 5%;
        font-size: 20px;
     }

    .cookieinfo-close {
        margin-top: 10px;
    } 
    .checkbox-info {
        font-size:14px
    }

    .checkbox-info > img {
        margin-top: 0px;
    }

    .send-button {
        font-size: 18px;
        padding: 1rem 3rem;
    }

    .business-contact-us-text {
        padding-left: 10%;
        padding-right: 10%;
    }

    .carousel-inner {
        min-height: 380px !important;
    }
}

@media only screen and (max-width : 640px) {      
    .card {
        float: unset;
    }
    
    .business-main-button-div {
        position: relative;
        bottom: -70px;
    }

    .background-image {
        background: url(../images/skinfo-background-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        min-height: 540px;
    }

    .press-main-div {
        display: block;
    }

    .press-inner-div {
        margin-top: 25px;;
    }

    .primary-div-app {
        padding-left: 5%; 
        padding-right: 5%;
    }
    
    .secondary-div-app {   
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width : 600px) {    
    .skinfo-menu-mobile {
        display: block;
        padding-right: 5%;
        float: right;
    }

    .text-header-undertext {
        padding-left: 10%; 
        padding-right: 10%;
    }

    .skinfo-menu {
       display: none;
    }

    .skinfo-title {
        padding-left: 5%;
    }
    
    .information-header-main-white {
        left: 24%;
    }  

    .title {
        padding-left: 0;
    }

    .app-download-div {
        width: 150px;
        flex-direction: column;
    }

    .app-download {
        width: 150px;
    }

    .meny-icon {
        display: inherit;
        width: 20px;
    }

    .logotype-text {
        font-size: 20px;
    }

    .business-stats-div {
        display: block;
    }

    .carousel-inner {
        min-height: 380px !important;
    }
}

@media only screen and (max-width : 540px) {   
    .carousel-inner {
        min-height: 420px !important;
    }
 }

@media only screen and (max-width : 500px) {   
    .form-input {
        width: 300px;
    }

    .carousel-inner {
        min-height: 445px !important;
    }

    input[type="checkbox"] + label {
        padding: 0.5rem 0.6rem;
      }
    
 }

@media only screen and (max-width : 425px) {      
    .news-row {
        margin-right: unset;
        margin-left: unset;
    }

    .thumbnail {
        width: 290px;
    }

    .cookieinfo-close {
        margin-top: 20px;
    }

    .textinputdiv {
        width: 350px;
        position: relative;
        bottom: 0;
    }

    .column-left > .smartphone-border {
        margin-left: auto;
        margin-right: auto;
    }

    .information-header-main-white {
        left: 8%;
    }

    .carousel-inner {
        min-height: 450px !important;
    }

    .form-input {
        width: 250px;
    }

    .business-form-checkbox-label {
        font-size: 14px !important;
    }

    .right-text {
        padding-left: 15%;
        padding-right: 15%;
    }
}


@media only screen and (max-width : 400px) {   
    .carousel-inner {
        min-height: 480px !important;
    }

    .text-header-undertext {
        padding-left: 5%; 
        padding-right: 5%;
    }
    
 }

    @media only screen and (max-width : 320px) {          
    .information-header-main {
        margin-top: 55px;
        font-size: 31px;
        min-height: 41px;
    }

    .information-header-main-white {
        left: 0%;
    }

    .first-info-button-space {
        margin-top: 90px;
    }

    .information-header-main-white {
        font-size: 38px;
    }

    .text-header {
        font-size: 20px;
    }

    .carousel-inner {
        min-height: 525px !important;
    }

    .sting-co-financed {
        font-size: 14px; 
        margin-left: 5px;
        width: 120px;
    }
}   
