@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url(../fonts/HelveticaNeueLTPro-Bold.otf)
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  font-style: italic;
  src: url(../fonts/HelveticaNeueLTPro-Bold-Italic.otf)
}

@font-face {
  font-family: HelveticaNeue;
  font-weight: normal;
  src: url(../fonts/HelveticaNeueLTPro-Normal.otf)
}

@font-face {
  font-family: HelveticaNeue;
  font-style: italic;
  src: url(../fonts/HelveticaNeueLTPro-Normal-Italic.otf)
}