html {
    scroll-behavior: smooth;
    font-family: HelveticaNeue;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
}

hr {
    max-width: 80%;
    border-width: 1px;
    overflow: visible;
    color: rgb(128, 128, 128, 1);
    margin-top: 0px;
    margin-bottom: 75px;
    border-top: none;
    border-right: none;
    border-left: none;
}

a, a:link, a:visited, a:hover, a:active {
    color: rgb(60, 0, 200);
    text-decoration: none;
}

*:focus {
    outline: none;
}

button {
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

button:hover {
    opacity: 0.5;
}

textarea {
    resize: none;
}

.page-container {
    min-height: calc(100vh - 100px);
    position: relative;
}

.content {
    padding-bottom:  15rem;
}

.footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15rem;
}

.skinfo-title {
    padding-right: 10px;
    padding-left: 20px;
    float: left;
}

.padding {
    padding: 20px;
}

.margintext {
    margin: 20px;
}

.main-menu {
    padding-bottom: 5px;
    text-align: center;
    min-height: 52px; 
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid lightgrey; */
}

.skinfo-menu {
    padding-top: 18px;
    width: 90%;
    margin: auto;
}

.skinfo-menu-mobile {
    display: none;
    cursor: pointer;
    margin-top: 7px;
    width: 40%;
}

.skinfo-menu-mobile {
    display: none;
    cursor: pointer;
    margin-top: 7px;
    width: 40%;
}

.skinfo-menu-mobile-expanded {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.main-menu-change {
    height: 160px;
}

.menu-button {
    cursor: pointer;
    font-size: 14px;
    background-color: white;
    color: black;
    padding: 15px 15px 10px 15px;
    box-sizing: unset;
    -webkit-box-sizing: unset;
    text-align: right;
}

.menu-button:hover {
    opacity: 0.5;
}

.change .bar1 {
    width: 25px;
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    width: 25px;
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.one-edge-shadow {
	-webkit-box-shadow: 0 5px 10px -10px rgb(0 0 0 / 10%);
	   -moz-box-shadow: 0 5px 10px -10px rgb(0 0 0 / 10%);
	        box-shadow: 0 5px 10px -10px rgb(0 0 0 / 10%);
}

.one-block {
    max-width: 1300px;
    margin: auto;
    margin-top: 4rem;;
    margin-bottom: 4rem;
}

.one-block-fullwidth {
    margin: auto;
    margin-top: 4rem;;
    margin-bottom: 4rem;
}

.two-block {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.two-block-fullwidth {
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.two-block-header {
    display: flex;
    margin: 20px;
}

.margin-div-between-big-block {
    margin-top: 4rem;
}

.inside-block {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 50%;
}

.inside-block-left {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.inside-block-right {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.skinfocolor {
    color: rgb(60, 0, 200) !important;
}

.skinfobackgroundcolor {
    background-color: rgb(60, 0, 200);
    color:white;
    font-family: "HelveticaNeue";
}

.skinfobordercolor {
     border: 2px solid  rgb(60, 0, 200); 
}

.blackcolor {
    color: rgb(0,0,0, 0.8);
}

.blacktextcolor {
    color: rgb(0,0,0, 0.8) !important;
}

.blackborder {
    border: 2px solid rgb(0,0,0, 0.8);
}

.blackbackgroundcolor {
    background-color: rgb(0,0,0, 0.8);;
    color:white;
    font-family: "HelveticaNeue";
}

.graybackgroundcolor {
    background-color: #F8F8F8;
}

.border-radius {
    border-radius: 0.75rem;
}

.right-arrow {
    cursor: pointer;
    min-width: 30px;
    max-width: 30px;
    opacity: 0.5;
    margin-right: 50px;
    margin-left: 50px;
    background: url(../svg/arrow-right.svg) no-repeat center center;
}

.left-arrow {
    cursor: pointer;
    min-width: 30px;
    max-width: 30px;
    opacity: 0.5;
    margin-right: 50px;
    margin-left: 50px;
    background: url(../svg/arrow-left.svg) no-repeat center center;
}

.stats-figure {
    font-weight: bolder; 
    font-size: 2rem; 
}

.stats-text {
    font-size: 1.2rem; 
    margin-left: 10px;
}

.contact-us-logos {
    display:grid; 
    gap: 2rem;
    justify-content: space-between;
    grid-template-columns: repeat(3,3fr);
}

.contact-us-logos img {
    width: 150px;
    margin: auto;
}

.checklistitem {
    display: flex;
}

.checklisttext {
    margin-top: 2px;
    margin-left: 10px;
}

.checkbox {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.slider {
    height: 100px;
    overflow: hidden;
    position: relative;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 15));
        transform: translateX(calc(-250px * 15));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-250px * 15));
        transform: translateX(calc(-250px * 15));
    }
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 30);
    max-width: calc(250px * 30);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
}

.logo-div {
    justify-content: space-between;
    margin: 0 auto;
    display:grid; 
    gap: 2rem;
    justify-content: space-between;
    grid-template-columns: repeat(6,1fr);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.logo {
    min-height: 30px;
    max-height: 30px;
    margin: auto;
}

.source-div {
    margin: auto; 
    display:grid; 
    grid-template-columns: repeat(7,1fr);
    justify-content: space-between;
}

.source {
    min-height: 40px;
    max-height: 40px;
    margin: auto;
    margin: 20px;
}

.customer-feedback {
    border-radius: 0.5rem;
    padding: 15px 20px 10px 20px;
    max-width: 80%;
    min-width: 250px;
    margin:auto;
    display: flex;
    flex-direction: column;
    /* -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%); */
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

/* animate in */
.customer-feedback-grp {
    display: flex;
    flex-direction: row;
    margin: auto;    
}

@keyframes animateinleft {
    from {
        left: 50vh;
        opacity: 0
    }

    to {
        left: 0px;
        opacity: 1
    }
}

.animate-in-left {
    position: relative;
    animation: animateinleft 1s
}

@keyframes animateinright {
    from {
        right: 50vh;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}

.animate-in-right {
    position: relative;
    animation: animateinright 1s
}

/* animate out */
@keyframes animateoutleft {
    from {
        left: 0;
        opacity: 1
    }

    to {
        left: -50vh;
        opacity: 0
    }
}

.animate-out-left {
    position: relative;
    animation: animateoutleft 500ms
}

@keyframes animateoutright {
    from {
        right: 0px;
        opacity: 1
    }

    to {
        right: -50vh;
        opacity: 0
    }
}

.animate-out-right {
    position: relative;
    animation: animateoutright 500ms
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }
      
      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }
    
      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }
    
      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}

.shake-me { 
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;  
}


.email-input {
    width: 225px; 
    padding:14px;
    border:solid 1px gray; 
    border-right: 0px;
}

.customer-feedback-author {
    color:black;
    font-size: 40px;
    margin-top: 10px;
    font-family: "Creattion";
    text-align: center;
}

.customer-feedback-text {
    margin-top: 10px;
}

.customer-feedback-company {
    margin-top: 10px;
    margin: auto;
}

.customer-feedback-logo {
    display: flex;
}

.customer-feedback-img {
    margin: auto;
    display: flex;
    cursor: pointer;
    height: 30px;
}

.customer-feedback-img:hover {
    opacity: 0.5;
}

.customer-feedback-from {
    display: grid;
    margin: auto;
    margin-top: 20px;
}

.customer-feedback-from-text {
    display: grid;
}

.about-us-text {
    font-size: 1.1rem;
}

.business-stats-header {
    margin: auto;
    display: table;
    font-size: 30px;
}

.business-stats-div {
    margin: auto;
    display: flex;
    margin-top: 30px;
    width: max-content;
}

.business-stats-element {
    margin: auto;
    margin-right: 20px;
    margin-left: 20px;
}

.business-keypoints-items {
    margin: auto;
    margin-top: 25px;
    display: flex;
    width: max-content;
}

.customer-example {
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 20px 10px 20px;
    max-width: 390px;
    min-width: 250px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.customer-example-grp {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
}

.price-plan-main {
    max-width: 1300px;
    margin: 0 auto;
    display: grid; 
    gap: 2rem;
    justify-content: space-between;
    grid-template-columns: repeat(4,1fr)
}

.price-plan {
    padding: 20px;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.price-plan-name {
    color:#738094;
    font-weight: bold;
    font-size: 12px;
}

.price-plan-price {
    font-weight: bolder;
    font-size: 30px;
}

.price-plan-recurring {
    padding-left: 5px;
    padding-top: 12px;
    color:#738094;
}

.price-plan-description {
    margin-bottom: 15px;
    min-height: 36px;
}

.price-plan-products {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
    top: 30px;
    text-align: center;
    color: rgb(60, 0, 200, 1) !important;
}

.price-plan-list-item {
    border-top: 1px solid #eef2f7;
    padding: 0.75rem 0;
}

.price-button-grp {
    display: block; 
    margin-top: 10px;
}

.press-main-div {
    display: flex;
    flex-direction: row;
}

.press-img {
    height: 200px;
}

.searchbox {
    -webkit-appearance: searchfield; 
    padding-top: 2px;
    width: 80%; 
    padding-left: 10px; 
    float: left;
    height: 34px;
    font-size: 16px;
    text-decoration: none; 
    border-bottom: none!important; 
    box-shadow: none!important;
    word-wrap: break-word;
    flex: 100%;
    padding-bottom: 5px;
}

.searchbar-main-div {
    margin-top: 20px;
    display: flex;
}

.search-selected {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.searchbar {
    border-radius: 0.75rem;
    width: 80%;
    margin: auto;
    height: 37px;
    margin-top: 15px;
    border: 1px solid lightgray;
    display: grid;
    padding: 5px 4px 0 16px;
    padding-left: 14px;
    max-width: 670px;
    background-color: white;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.searchbar-suggestions {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    width:80%;
    max-width: 670px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
    left: 0;
    right: 0;
    text-align: left;
    background-color: white;
    padding: 5px 4px 0 16px;
    padding-left: 14px;
    padding-bottom: 5px;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    clip-path: inset(5px -25px -25px -25px);
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.searchbar-item {
    padding: 5px;
    padding-left: 30px;
    margin-left: -14px;
    margin-right: -4px;
    padding-left: 44px !important;
}

input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input {
    outline: 0;
    -webkit-appearance: none;
    background: transparent;
    border-width: 0 0 1px;
    border-color: black;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
}

.news-item {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightgray; */
    margin: 10px auto;
    padding: 20px;
    width: -moz-available;         
    width: -webkit-fill-available;  
    width: fill-available;
    /* -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%); */
}

.news-main-div {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    margin: 0 auto;
    display:grid; 
    gap: 2rem;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr)
}

.news-logo {
    height: 25px;
    margin: auto;
}

.news-date {
    margin: auto;
    padding-top: 5px;
    font-size: 0.8rem;
    opacity: 0.8;
}

.news-title {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.news-readmore {
    cursor: pointer;
    margin: auto; 
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-item {
    width: 25%;
}

.footer-header {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.social-media {
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.social-media-icon {
    width: 50px;
    display: block;
}

.social-media-icon:hover {
    opacity: 0.5;
}

.instafeed {
    max-width: 1300px;
    text-align: center;
    clear: both;
    margin: 0 auto;
    padding: 0 50px;
}

.insta-div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 0;
    color: #fff;
    width: 12.500000%;
    padding-top: 12.500000%;
    background: url(../svg/instagram-icon.svg) no-repeat center center;
    background-size: 30px 30px;
    opacity: 1.0;
    background-color: black;
}

.insta-div a img {
    filter: grayscale(50%);
    max-width: none;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 0;
    transform: initial;
    display: initial;
    opacity: 1;
}

.insta-div a img:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
}

.footer-link {
    cursor: pointer;
    line-height: 1.75;
}

.footer-link:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 1200px) {
    .source-div {
        margin: auto;
        grid-template-columns: repeat(4,2fr);
    }

    .source {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
}

@media only screen and (max-width: 1200px){
    .about-us-text {
        font-size: 1rem;
    }
   
}

@media only screen and (max-width: 1000px) {
    .price-plan-main {
        grid-template-columns: repeat(2,1fr)
    }

    .hide-1000 {
        display: none;
    }

    .news-main-div {
        grid-template-columns: repeat(2,1fr)
    }
}

@media only screen and (max-width: 830px) {
    .skinfo-menu-mobile {
        display: block;
        width: 100%;
        margin-right: 30px;
    }

    .skinfo-menu {
        display: none;
    }

    .main-menu {
        padding-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }

    .footer-item {
        width: unset;
        margin:auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .source-div {
        margin: auto;
        grid-template-columns: repeat(2,4fr);
    }
}

@media only screen and (max-width: 769px) {
    .about-us-first-div {
        margin-bottom: 0px !important;
    }

    .price-plan-main {
        grid-template-columns: repeat(1,1fr)
    }

    .hide-769 {
        display: none;
    }

    .two-block {
        display: block;
    }

    .two-block-fullwidth {
        display: block;
    }

    .two-block-breaker {
        margin-top:20px;
    }

    .inside-block {
        max-width: 100%;
        padding: 20px;
    }

    .inside-block-left {
        padding-left: 0px;
    }
    
    .inside-block-right {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .right-arrow {
        margin-left: 0px;
        margin-right: 5px;
    }
    
    .left-arrow {
        margin-left: 5px;
        margin-right: 0px;
    }

    .press-main-div {
        flex-direction: column;
    }

    .press-img {
        height: auto;
        width: 250px;
    }

    .news-main-div {
        grid-template-columns: repeat(1,1fr)
    }

    .contact-us-logos {
        grid-template-columns: repeat(2,2fr)
    }

    .contact-us-logos img {
       width: 125px;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        text-align: center;
    }

    .price-button-grp {
        display: block; 
    }

    .right-arrow {
        display: none;
    }
    
    .left-arrow {
        display: none;
    }

    .customer-feedback-img {
        height: 25px;
    }

    .email-input {
        width: auto; 
    }

    .source-div {
        margin: auto;
        grid-template-columns: repeat(1,10fr);
    }
}