html {
    scroll-behavior: smooth;
    font-family: SF Pro Text, Helvetica, Arial, sans-serif !important;
}

body {
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

hr {
    max-width: 80%;
    border-width: 1px;
    overflow: visible;
    color: rgb(128, 128, 128, 1);
    margin-top: 0px;
    margin-bottom: 75px;
    border-top: none;
    border-right: none;
    border-left: none;
}

a, a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

*:focus {
    outline: none;
}

button {
    cursor: pointer;
    padding: 15px 25px 15px 25px;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

button:hover {
    opacity: 0.5;
}

textarea {
    resize: none;
}

.skinfo-title {
    padding-right: 10px;
    padding-left: 20px;
    float: left;
}

.main-menu {
    padding-bottom: 5px;
    text-align: center;
    min-height: 44px;
    font-weight: bold;
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.skinfo-menu {
    padding-top: 13px;
    width: 90%;
    margin: auto;
}

.skinfo-menu-mobile {
    display: none;
    cursor: pointer;
    margin-top: 7px;
    width: 40%;
}

.skinfo-menu-mobile {
    display: none;
    cursor: pointer;
    margin-top: 7px;
    width: 40%;
}

.skinfo-menu-mobile-expanded {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: rgb(60, 0, 200);
    margin: 6px 0;
    transition: 0.4s;
}

.main-menu-change {
    height: 208px;
}

.menu-button {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: rgb(60, 0, 200);
    padding: 15px 15px 10px 15px;
    box-sizing: unset;
    -webkit-box-sizing: unset;
    text-align: right;
}

.menu-button:hover {
    opacity: 0.5;
}

.change .bar1 {
    width: 25px;
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    width: 25px;
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.one-edge-shadow {
	-webkit-box-shadow: 0 5px 10px -10px rgb(0 0 0 / 10%);
	   -moz-box-shadow: 0 5px 10px -10px rgb(0 0 0 / 10%);
	        box-shadow: 0 5px 10px -10px rgb(0 0 0 / 10%);
}

.one-block {
    margin: 10px 20px 10px 20px;
}

.two-block {
    margin: 10px 0px 10px 0px;
    display: flex;

    align-items: center;
    
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.two-block-header {
    display: flex;
    margin: 20px;
}

.inside-block {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 50%;
}

.inside-block-left {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.inside-block-right {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.skinfocolor {
    color: rgb(60, 0, 200)
}

.skinfobackgroundcolor {
    background-color: rgb(60, 0, 200)
}

.checklistitem {
    display: flex;
}

.checklisttext {
    margin-top: 2px;
    margin-left: 10px;
}

.checkbox {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
}

.logo {
    min-height: 30px;
    max-height: 30px;
    filter: contrast(160%) grayscale(100%);    
}

.customer-feedback {
    background-color: whitesmoke;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 20px 10px 20px;
    max-width: 390px;
    min-width: 250px;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.customer-feedback-grp {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
}

.customer-feedback-author {
    color:white;
    background-color: black;
    font-size: 12px;
    margin-top: 10px;
}

.customer-feedback-text {
    margin-top: 10px;
}

.customer-feedback-logo {
    display: flex;
}

.customer-feedback-img {
    margin: auto;
    height: 25px;
}

.customer-example {
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 20px 10px 20px;
    max-width: 390px;
    min-width: 250px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.customer-example-grp {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
}

.price-plan {
    padding: 20px;
    width: 350px;
    height: 100px;
    border-radius: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
         box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
}

.price-plan-name {
    color:#738094;
}

.price-plan-price {
    font-weight: bolder;
}

.price-plan-recurring {
    padding-left: 5px;
    color:#738094;
}

.footer {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1200px;
}

.footer-item {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-header {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}

.social-media {
    margin: auto;
    text-align: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
}

.social-media-icon {
    width: 50px;
    display: block;
}

.instafeed a img {
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 769px) {
    .skinfo-menu-mobile {
        display: block;
        width: 100%;
        margin-right: 30px;
    }

    .skinfo-menu {
        display: none;
    }

    .main-menu {
        padding-left: 0;
    }

    .two-block {
        display: block;
    }

    .two-block-breaker {
        margin-top:20px;
    }

    .inside-block {
        max-width: 100%;
        padding: 20px;
    }

    .inside-block-left {
        padding-left: 0px;
    }
    
    .inside-block-right {
        margin-right: 0px;
    }
}